body{
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(231, 237, 202);
}
.tituloTexto{
    font-size: larger;
}
.btn1{
    background-color: black;
    text-align: start;

}
#btn1{
    color: white;
    font-size: larger;
    margin-top: 12px;
    margin-bottom: 12px;
}
.caixaMissao{
    background-color: black;
}
div ul li{
    font-size:x-large;
}
.textoMissao{
    font-size: larger;
}